html{    /*siempre arriba de todo, es padre*/
  font-size: 16px;  /*por defecto*/
  background-color:rgb(202, 146, 235);
  margin: 5px;  
  scroll-behavior: smooth; /*desplazamiento suave*/
}

body{
  width: 100%;
  font-size: 16px;
  font-family: "Roboto", sans-serif;   /*roboto la copie de google font*/
  margin: 0.5 rem;
  padding-top: 90px;
  position: relative;
  box-sizing: border-box;
}

/*   BREAKPOINTS    */
/*estilo pantallas pequeñas, celulares, menos de 600px*/
@media only screen and (max-width:600px) {
  body {
    font-size: 14px;
  }  
}

@media only screen and (max-width:600px) {
  .container {
    grid-template-columns: 1fr;  /*1 sola columna en pantalla*/
  }
}

/*estilo pantallas medianas, tablets o pc pequeñas, mas de 768px*/
@media only screen and (min-width:768px) {
  body {
    font-size: 18px;
  }  
}

@media only screen and (min-width:768px) {
  .container {
    grid-template-columns: 1fr 1fr;  /*2 columnas en pantalla*/
  }
}

/*estilo pantallas grandes*/
@media only screen and (min-width:1200px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;  /*3 columnas en pantalla*/
  }
}

*{
  margin: 0; padding: 0;  /*selector universal*/
  box-sizing: border-box;
}

iframe{
  margin-left: 7rem;
  align-items: left;
}


/*estilos del header*/

#top-anchor {
    position: absolute; 
    top: 0;
}

/*Anclas*/
#servicios, #nosotros {
  position: relative;
  top: -6rem;
}

header{   
 
}

.navbar-fija {
    position: fixed;
    display: flex;/*va en horizontal*/
    flex-wrap: wrap;
    justify-content: left;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    color: blueviolet;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0,0,0,0.8);
    z-index: 1000; /* para asegurarme que quede por encima de todos los elementos*/

}

.navbar-fija .logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 1rem;
}

.navbar-fija ul {
    list-style: none;
    margin: 0;  
    padding: 0;
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
    gap: 1rem;
}

.navbar-fija ul li {
    margin-left: 20px;
}

.navbar-fija ul li a {
    color: blueviolet;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 4px;
}

.navbar-fija ul li a:hover {
    background-color: #555;
}

main{
    width: 100%;
    border: 2px solid blueviolet;
    padding: 3rem;
    /*margin: 0 20%;  1º valor arriba y abajo , el 2º es izq der*/
    background-color: rgb(229, 158, 243);
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin: auto;
}

.iconos {
  width: 90px;   /*no hace falta tocar la medida del alto*/

}

img{
  width: 100px;
}

iframe{
  border: 1px dotted blueviolet;
  width: 70% ;
  margin-bottom: 2rem;
}



.imgReferencias {
  border: 1px solid;
  width: 350px;
  height: 350px;
  padding-top: 0%;
}

video{
  display: block;
  border: 2px solid blueviolet;
  padding: 20px;
}

.formContacto {
  background-color: rgb(140, 231, 238);
  display: flex;
  flex-direction: column;  
  justify-content: space-around;
  align-items: left;
  width: 90%;
  margin: auto ;
  height: 10 rem;
  padding: 2 rem;
  font-family:cursive;
  font-size: 1em;
  color: blue;  
}

select{
  margin: 10px;
  padding: 10px;
  align-items: left;
}

input{
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  color: blueviolet;
  display: block;
  margin: 10px;
  padding: 10px;
  margin-bottom: 1rem;
}

label {
  margin: 10px;
  padding: 5px;
  font-size: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 1px;
  display: block;
} 

textarea {
    margin-bottom: 1rem;
    padding: 10px;
    max-width: 100%;
    border-radius: 5px;
    line-height: 1.5;
    border: 1px 1px 1px #9400D3;
    letter-spacing: 1px;
    align-content: left;
}



h1{
  color:#9400D3;
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color:white;
  display: inline;  
  margin-bottom: 1rem;
  }

h2{
  color:rgb(242, 206, 243);
  font-size: 20px;
  background-color:#9400D3;
  background: linear-gradient(pink, blue); /*degrada color*/
  padding: 10px;
  margin-bottom: 10px;
  justify-content: center;
  margin-bottom: 1rem;
  }

h3{
  color: rgb(255,99,71);
  font-size: 1rem;
  text-align:left;
  background-color: rgb(161, 48, 196);
  margin-bottom: 1rem;
  }

h4{
    color: rgba(255,99,71,0.5);
    margin-bottom: 1rem;
  }

h5{
      color: blue;
  }

#h3visitanos {  
    display: inline-block;
    border: 5px solid black;
    border-top: 5px dotted ;
    border-bottom: 5px dotted;
    padding: 10px;
    margin-top: 2rem ;  /*4*16=64 px*/
  }

.textoVerde {         /*selector de clase para los estilos q voy a repetir*/
    color:rgb(140, 231, 238);
    background-color: rgb(70, 70, 194);
    font-family: fantasy;
    font-size: 1.5rem;
    font-style: oblique;
    font-weight: bold;
    text-align: center;
    margin-left: 2rem;
  }



#contenedorProductos { 
    display: flex;  /* de la seccion productos*/
    flex-wrap: wrap;
    gap: 1.5rem;
    justify-content:space-between;
    background-color:white;
    padding: 10px;
    border: 10px inset ;
    border-radius: 10px;
    margin-bottom: 5rem;
  }

.productosDetallados{    /*clase productos*/
    display: flex;
    width: 20rem;
    flex-direction: row;
    flex-wrap: wrap;
    width: 12rem ;
    justify-content:center;
    align-items: left;
    border: 10px groove ;
    border-radius: 10px;
    background-color: white;
    margin-top: 2 rem;
    margin-bottom: 2 rem;
    text-align: left;    
    font: bold; 
    gap: 1rem;
    box-shadow: 10px 10px 10px blueviolet;
    transition: transform 0.3s ease-out;
  }

            /*
            .item-1{
              flex: 1 1 200px;
              margin: 10px;
              background-color: white;
              border: 10px ridge;
              color:blueviolet;
              font:bold;
              padding: 20px;
            }

            .item-2{
              flex: 1 1 200px;
              margin: 10px;
              background-color: pink;
              color: beige;
              padding: 20px;

            }*/

/*
li{
  background-color: yellow;
  align-content:center;
}*/

.productos img {
    width: 100%;
  }

.fondo-transparente{
  background-color: rgba(175, 12, 175, 0.5);
  margin: 2rem 0;
}




/*  resenias  */

.resenias{
  display: grid;         /*arma grilla*/
  /*grid-template-columns: 20rem 20rem 20rem; 3 col de 20 de ancho*/
  /*grid-template-columns: 1fr 1fr 1fr; separa en 3 fracciones cada col*/
  /*grid-template-columns: repeat(3, 1fr);*/
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  /*grid-template-rows: 20rem auto;  auto auto es por defecto*/
  /*grid-template-rows: 1fr 1fr 1fr;*/
  gap: 2rem;
  place-items:center;
  padding: 1rem;
}

.card{
  display: flex;
  background-color: #f5f5f5;
  border-radius: 10px;
  color: gray;
  position: relative;
  margin: 2rem;
  width: 15rem ;
  padding: 2rem 1 rem 0;
  justify-content: center;
  box-shadow: 10px 10px 10px blueviolet;
  transition: transform 0.3s ease-out;
}

.card:hover {
    transform: translateY(-10px)
}

.card img {
    position: absolute;
    align-items: center;
    top: -2rem;
    height: 4rem;
    width: 4rem;
    border-radius: 20px;
}

.card-content {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 1rem;
}

.card-nombre {
    font-weight: 600;
    display: inline-block;
    margin-bottom: 0.5rem;
}

.card .fa-solid {
    color: rgb(255, 217, 0);
}

.card-fecha {
    font-size: 0.6rem;
}

.card-content p {
    font-style: italic;
    font-size: 0.9rem;
}

.fondo{
  /*no me lo toma, queda en chiquito*/
  background-image: url('imagenes/cabecera.jpg');
  background-size:cover; /*la imagen cubre todo el contenedor*/
  background-position: center;
  padding: 10;
  width: 40rem;
  height: 5rem;
}


/*  --------estilos del footer-----------------*/

.grid-contenedor-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-auto-rows: 100px; /*controla q si se crean filas sea ese tamaño*/
  grid-auto-flow: column;
  gap: 10px 10px;
  background-color: white;
  color: blueviolet; /*color del texto*/
  border: 3px solid ;
  border-radius: 8px;
  margin-bottom: 1rem;
}


/* #footerNav nav ul, nav li, a{    /* el # pone el id*/

#footerNav ul{
    list-style: none;      /*saca la viñeta de enlace*/
    margin-bottom: 1rem;
  }

#footerNav a{             /* el # pone el id*/
  text-decoration: none; /*saca apariencia de enlace*/
  color: blueviolet;
  /*display: block;*/
}


ul > li {
  color: white;
}